:root {
    --st-primary: 255, 170, 225;
    --st-primary-hex: #FFAAE1;
    --st-secondary: 255, 130, 217;
    --st-secondary-hex: #FF82D9;
    --st-primary-subtle-hex: #FFEDF9;
    --bs-primary-rgb: var(--st-primary);
    --alt_blue: #99ccff;
}

.btn-outline-primary {
    --bs-btn-active-bg: var(--st-primary-hex);
    --bs-btn-border-color: var(--st-primary-hex);
    --bs-btn-active-border-color: var(--st-primary-hex);
}

.btn-primary {
    --bs-btn-active-bg: var(--st-primary-hex);
    --bs-btn-bg: var(--st-primary-hex);
    --bs-btn-hover-bg: var(--st-secondary-hex);
    --bs-btn-border-color: var(--st-primary-hex);
    --bs-btn-active-border-color: var(--st-primary-hex);
    --bs-btn-hover-border-color: var(--st-primary-hex);
}

.accordion {
    --bs-accordion-active-color: var(--st-secondary-hex);
    --bs-accordion-active-bg: var(--st-primary-subtle-hex);
    --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--st-primary), .5);
}

body {
    font-family: 'Quicksand', Arial, sans-serif;
    background-color: var(--st-primary-subtle-hex);
    color: #333333;
    text-align: center;
    margin: 0;
  }

  .fancy-title {
    margin-top: 20px;
    font-size: 3.2em;
    background: linear-gradient(90deg, var(--st-secondary-hex), var(--alt_blue));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}

button:not(.accordion-button):not(.navbar-toggler):not(.btn) {
    margin: 4px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 25px;
    border: none;
    background-color: var(--alt_blue);
    color: #ffffff !important;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    display: inline-block;
}

.nav-link:hover {
     background-color: var(--alt_blue);
}

button:not(.accordion-button):not(.btn):hover {
    background-color: var(--alt_blue);
    transform: scale(1.05);
}

button.active:not(.accordion-button):not(.btn) {
    background-color: var(--st-secondary-hex);
    color: #ffffff;
}

#roundButtons,
#vibeButtons {
    margin-top: 20px;
}

#sceneToneContainer {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#toneSelect {
    padding: 8px 5px;
    font-size: 18px;
    border-radius: 10px;
    background-color: var(--st-primary-subtle-hex);
    color: #333333;
    border: 1px solid var(--st-secondary-hex);
    height: 48px;
}

#randomToneButton {
    padding: 10px 16px;
    font-size: 22px;
    border-radius: 10px;
    background-color: var(--alt_blue);
    color: #ffffff;
    height: 48px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

#randomToneButton:hover {
    background-color: var(--alt_blue);
    transform: scale(1.1);
}

#actionOutput {
    margin-top: 30px;
    padding: 20px;
    background-color: #ffffff;
    border: 2px solid var(--st-primary-hex);
    border-radius: 20px;
    font-size: 22px;
    white-space: pre-wrap;
    box-shadow: 0 0 15px rgba(255, 153, 204, 0.4);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #444;
}

.debug-toggle {
    margin-top: 25px;
}

@media (max-width: 600px) {

    button,
    select {
        font-size: 16px;
    }

    button {
        margin: 2px;
        padding: 8px 16px;
    }

    select {
        width: 80%;
    }
}